* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", "sans-serif";
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    border-radius: 24.5px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    background: #171100;
    color: #fff;
}

/* Header */

.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav ul a {
    position: relative;
    padding: 8px 21px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
}

.nav a:hover,
.nav li.active a {
    color: #171100;
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
    position: absolute;
    display: block;
    content: "";
    width: 12px;
    left: 21px;
    bottom: 6px;
    height: 2px;
    background-color: #171100;
    border-radius: 1px;
}

.header .btn-sign-up {
    min-width: 144px;
}
